body{
  margin: 0;
  font-family: arial;
  font-weight: 400;
  line-height: 2.7em;
  font-size: 20px;
}
a{
  text-decoration: none;
}
footer{
  font-size: 14px;
  text-align: center;
}


/*Allgemeine Klassen*/                                                          /*Allgemeine Klassen*/
/*Die Wrapper Klasse dient nur dazu den ganzen Inhalt der Website hochzuziehen
weil der Navigator Transparent ist und man sonst einen komischen weißen Balken
sehen kann*/
.wrapper{                                                                       /*Wrapper*/
  position: relative;
  top: -50px;
}
/*Der ContentWrapper zentriert den Content innerhalb eines DIV's mit
einer gewissen Breite
damit der Inhalt immer schee zentriert ist*/
.contentwrapper{
  max-width: 1300px;
  margin: auto;
}
.spruch{
  font-size: 30px;
}
.lightTextBox{                                                                  /*TEXT BOXES*/
  text-align: center;
  background: white;
  color: #333;
  padding: 40px;
}
.darkTextBox{
  text-align: center;
  /*background: #575757;*/
  background: #333;
  color: white;
  padding: 40px;
}
.pimg{                                                                          /*ALLGEMEIN BILDER KLASSE*/
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: scroll;
  opacity: 0.7;
}
/*Txt auf einem Bild*/
.pText{                                                                         /*ALLGEMEIN PICTURE TEXT KLASSE*/
  top: 50%;
  padding: 20px;
  padding-top: 250px;
  color: black;
  font-size: 50px;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 4px;
  /*Die breite der TxtBox muss 100% sein
  damit der Text sich auch zentrieren kann*/
  max-width: 800px;

  text-align: center;
  margin: auto;
}
.pText p{
  padding: 30px;
  border: 2px black solid;
  border-radius: 15px;
}


/*Navigation*/                                                                  /*Navigation*/
.logoImage{
  float: left;
  color: white;
  font-size: 35px;
  padding-left: 10px;
}
.navigator{
  background-color: #333;
  box-shadow: 0px 2px 20px #333;
  opacity: 0.9;
  line-height: 2.5em;
  font-size: 20px;
  /*z-index 1 damit der Nav. immer über allem gemalt wird*/
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /**/
}
.navigator ul{
  text-align: right;
  /*muss null sein damit hover theme gut aussieht*/
  padding: 0;
  margin: 0;
}
.navigator li{
  display: inline-block;
  margin-right: 10px;
}
.navigator a{
  color: white;
}
/*spezielle Klassen*/                                                           /*spezielle Klassen*/
/*Banner*/                                                                      /*Banner*/
/*einzelne Bilder müssen nur geladen werden
styling wird von pimg übernommen*/
.pimg1{
  background-image: url("../img/temple_banner.jpg");
  min-height: 800px;
  background-attachment: fixed;
}
/*Offer*/                                                                       /*Offer*/
.offerBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.offerBox img{
  /*border: 10px #333 solid;*/
  border-radius: 0px;
  /*box-shadow: 0 0 20px #333;*/
  width: 125px;
  height: 125px;
}
.offerBox p{
  padding: 0;
  margin: 0;
  font-size: 19px;
}
.box1, .box2, .box3{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px #333;
}
.box1:hover, .box2:hover, .box3:hover{
  /* box-shadow: 0 0 20px gray; */
}
/*
.box1:hover, .box2:hover, .box3:hover{
  border-radius: 20px;
  box-shadow: 0 0 20px #333;
}
*/
#kleintext{
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
/*About Me*/                                                                    /*About Me*/
.aboutMe{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
}
.aboutMe img{
  margin: auto;
  /*border: 10px #333 solid;*/
  border-radius: 100%;
  box-shadow: 0 0 20px black;
  width: 200px;
  height: 200px;
}
.aboutMe p{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.aboutmeText{
  margin: auto;
}
/*AboutClass*/                                                                  /*AboutClass*/
.aboutClass{
  text-align: center;
}
/*Reversed soll nur das Bild auf die Linke Seite richtig anzeigen*/
.aboutClassReversed{
  grid-template-columns: 1fr 3fr;
}
.aboutClass img{

  margin: auto;
}
.aboutClass p{
  margin: 25px;
  padding: 0;
  font-size: 20px;
}
.aboutClass strong{
  font-size: 24px;
}
/*Contact*/                                                                     /*Contact*/
.contactBox{
  font-size: 24px;
}














@media(max-width:600px){
  /*
  .pimg1{
    background-attachment: scroll;
  }
  .offerBox p{
    font-size: 16px;
  }*/
  .aboutMe{
    display: block;
  }
}
