* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: arial;
  font-weight: 400;
  line-height: $default-line-height;
  font-size: $default-text-size;
}
a {
  text-decoration: none;
  color: black;
}

small{
  color: gray;
}

@media screen and (max-width: 786px){
  body{
    overflow-x: hidden;
  }
}
