@charset "UTF-8";
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 79, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 152, ../sass/partials/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 173, ../sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 193, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 203, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 212, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 221, ../sass/partials/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 236, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 242, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 248, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 254, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 260, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 272, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 283, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 293, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 301, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 309, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 313, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 325, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 346, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 354, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 366, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 381, ../sass/partials/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 394, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 406, ../sass/partials/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 415, ../sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 424, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 432, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 456, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 470, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 488, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 499, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 514, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 529, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 538, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 549, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 564, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 581, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 592, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 602, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../sass/partials/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 667, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/partials/_base.scss */
html {
  scroll-behavior: smooth;
}

/* line 11, ../sass/partials/_base.scss */
body {
  margin: 0px;
  font-family: arial;
  font-weight: 400;
  line-height: 2em;
  font-size: 20px;
}

/* line 18, ../sass/partials/_base.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 23, ../sass/partials/_base.scss */
small {
  color: gray;
}

@media screen and (max-width: 786px) {
  /* line 28, ../sass/partials/_base.scss */
  body {
    overflow-x: hidden;
  }
}
/* line 1, ../sass/modules/body/_aboutclass.scss */
.pic {
  background-image: url("../image/teaching.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  /* line 11, ../sass/modules/body/_aboutclass.scss */
  .pic {
    background-attachment: scroll;
  }
}
/* line 2, ../sass/modules/body/_aboutme.scss */
.aboutMe {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
}
/* line 6, ../sass/modules/body/_aboutme.scss */
.aboutMe img {
  float: right;
  margin: 10px;
  border-radius: 100%;
  box-shadow: 0 0 20px black;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 786px) {
  /* line 17, ../sass/modules/body/_aboutme.scss */
  .aboutMe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
/* line 2, ../sass/modules/_banner.scss */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/temple_banner.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  height: 100vh;
  background-attachment: fixed;
}
/* line 13, ../sass/modules/_banner.scss */
.banner .bannerText {
  font-size: 3em;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 4px;
}
/* line 19, ../sass/modules/_banner.scss */
.banner .bannerText p {
  padding: 30px;
  margin: 30px;
  border: 2px black solid;
  border-radius: 15px;
  text-align: center;
  line-height: 1em;
}

@media screen and (max-width: 1080px) {
  /* line 32, ../sass/modules/_banner.scss */
  .banner {
    background-attachment: scroll;
  }
  /* line 34, ../sass/modules/_banner.scss */
  .banner .bannerText {
    font-size: 1.5em;
  }
}
/* line 2, ../sass/modules/_footer.scss */
.impressum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: left;
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/modules/_footer.scss */
.impressum p {
  text-align: left;
}

/* line 14, ../sass/modules/_footer.scss */
footer p {
  text-align: center;
}

@media screen and (max-width: 786px) {
  /* line 21, ../sass/modules/_footer.scss */
  footer p {
    font-size: 14px;
  }
}
/* line 2, ../sass/modules/navigation/_nav.scss */
.logo {
  float: left;
  color: white;
  font-size: 45.5px;
}

/* line 8, ../sass/modules/navigation/_nav.scss */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #333;
  box-shadow: 0px 2px 20px #333;
  opacity: 0.9;
  line-height: 2.5em;
  letter-spacing: 3.7px;
  font-size: 25px;
  font-size: 28px;
  height: 70px;
  /*z-index 1 damit der Nav. immer über allem gemalt wird*/
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* line 28, ../sass/modules/navigation/_nav.scss */
.navigation .content {
  display: flex;
  justify-content: space-between;
  /*muss null sein damit hover theme gut aussieht*/
  padding: 0;
  margin: 0;
}
/* line 36, ../sass/modules/navigation/_nav.scss */
.navigation .content li {
  display: inline-block;
  margin: 0 10px 0 10px;
}
/* line 39, ../sass/modules/navigation/_nav.scss */
.navigation .content li:hover {
  background-color: gray;
}
/* line 43, ../sass/modules/navigation/_nav.scss */
.navigation .content li a {
  color: white;
}

/* line 48, ../sass/modules/navigation/_nav.scss */
.navigation .burger {
  display: none;
  cursor: pointer;
  border: 1px white solid;
  border-radius: 5px;
  width: 40px;
  margin: auto 0 auto 0;
  align-self: center;
}
/* line 56, ../sass/modules/navigation/_nav.scss */
.navigation .burger div {
  width: 62%;
  height: 2px;
  margin: 7px;
  background-color: white;
}

/* line 64, ../sass/modules/navigation/_nav.scss */
.show-nav-content {
  display: flex !important;
}

@media screen and (max-width: 1120px) {
  /* line 70, ../sass/modules/navigation/_nav.scss */
  .navigation .content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 100vw;
    padding: 20px;
    background-color: #333;
  }
  /* line 80, ../sass/modules/navigation/_nav.scss */
  .navigation .burger {
    display: block;
  }
}
/* line 2, ../sass/modules/body/_offer.scss */
.offerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.2em;
}
/* line 7, ../sass/modules/body/_offer.scss */
.offerBox img {
  border-radius: 0px;
  width: 125px;
  height: 125px;
}
/* line 12, ../sass/modules/body/_offer.scss */
.offerBox .item {
  width: 220px;
  margin: 10px;
  border: 1px lightgray solid;
  border-radius: 10px;
  transition: box-shadow 0.4s ease;
}
/* line 18, ../sass/modules/body/_offer.scss */
.offerBox .item:hover {
  box-shadow: 0 0 20px #333;
}
/* line 22, ../sass/modules/body/_offer.scss */
.offerBox .item p:first-child {
  background-color: #f7f7f7;
  border-bottom: 1px lightgray solid;
  border-top-left-radius: 13%;
  border-top-right-radius: 13%;
}

/* line 2, ../sass/modules/body/_slogan.scss */
.slogan {
  font-size: 25px;
}

/* line 2, ../sass/modules/body/_textbox.scss */
.lightTextBox, .darkTextBox {
  text-align: center;
  background: white;
  color: black;
  padding: 40px;
}
/* line 7, ../sass/modules/body/_textbox.scss */
.lightTextBox p, .darkTextBox p {
  margin: auto;
}

/* line 12, ../sass/modules/body/_textbox.scss */
.darkTextBox {
  background: #333;
  color: white;
}

/*Die Wrapper Klasse dient nur dazu den ganzen Inhalt der Website hochzuziehen
weil der Navigator Transparent ist und man sonst einen komischen weißen Balken
sehen kann*/
/* line 4, ../sass/modules/_wrapper.scss */
.wrapper {
  position: relative;
  top: -70px;
}

/*Der ContentWrapper zentriert den Content innerhalb eines DIV's mit
einer gewissen Breite
damit der Inhalt immer schee zentriert ist*/
/* line 11, ../sass/modules/_wrapper.scss */
.contentwrapper {
  max-width: 1000px;
  margin: auto;
}
