//------------------------------------------------------------------------------NAV
.logo{
  float: left;
  color: white;
  font-size: $navheight*0.65;
}
//------------------------------------------------------------------------------NAV
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: #333;
  box-shadow: 0px 2px 20px #333;
  opacity: 0.9;

  line-height: 2.5em;
  letter-spacing: 3.7px;

  font-size: 25px;
  font-size: $navheight*0.4;
  height: $navheight;
  /*z-index 1 damit der Nav. immer über allem gemalt wird*/
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  .content {
    display: flex;
    justify-content: space-between;
    //width: 50%;
    /*muss null sein damit hover theme gut aussieht*/
    padding: 0; // normalize sagt padding-left: 40
    margin: 0;
  }
  .content li{
    display: inline-block;
    margin: 0 10px 0 10px;
    &:hover{
      background-color: gray;
    }
  }
  .content li a{
    color: white;
  }
}

.navigation .burger{
  display: none;
  cursor: pointer;
  border: 1px white solid;
  border-radius: 5px;
  width: 40px;
  margin: auto 0 auto 0;
  align-self: center;
  div{
    width: 62%;
    height: 2px;
    margin: 7px;
    background-color: white;
  }
}

.show-nav-content{
  display: flex !important;
}

@media screen and (max-width: 1120px){
  .navigation{
    .content{
      display: none;
      flex-direction: column;
      position: absolute;
      top: $navheight;
      right: 0px;
      width: 100vw;
      padding: 20px;
      background-color: #333;
    }
    .burger{
      display: block;
    }
  }
}
