//------------------------------------------------------------------------------BANNER
.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../image/temple_banner.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  height: 100vh;
  background-attachment: fixed;
  .bannerText {
    font-size: 3em;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 4px;

    p {
      //Border um p
      padding: 30px;
      margin: 30px;
      border: 2px black solid;
      border-radius: 15px;
      text-align: center;
      line-height: 1em;
    }
  }
}

@media screen and (max-width: 1080px){
  .banner{
    background-attachment: scroll;
    .bannerText{
      font-size: 1.5em;
    }
  }
}
