//------------------------------------------------------------------------------FOOTER/IMPRESSUM
.impressum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: left;
  padding: 0;
  margin: 0;
  p {
    text-align: left;
  }
}
footer {
  p {
    text-align: center;
  }
}

@media screen and (max-width: 786px){
  footer{
    p{
      font-size: 14px;
    }
  }
}
