/*Die Wrapper Klasse dient nur dazu den ganzen Inhalt der Website hochzuziehen
weil der Navigator Transparent ist und man sonst einen komischen weißen Balken
sehen kann*/
.wrapper {
  position: relative;
  top: -$navheight;
}
/*Der ContentWrapper zentriert den Content innerhalb eines DIV's mit
einer gewissen Breite
damit der Inhalt immer schee zentriert ist*/
.contentwrapper {
  max-width: 1000px;
  margin: auto;
}
