//------------------------------------------------------------------------------ABOUT ME
.aboutMe{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
  img {
    float: right;
    margin: 10px;
    border-radius: 100%;
    box-shadow: 0 0 20px black;
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 786px){
  .aboutMe{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
