.pic {
  background-image: url("../image/teaching.jpg");
  background-size: cover;
  background-attachment: fixed;
  //position: relative;
  height: 500px;
  opacity: 0.7;
}

@media screen and (max-width: 1000px){
  .pic{
    background-attachment: scroll;
  }
}
