//------------------------------------------------------------------------------OFFER
.offerBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.2em;
  img {
    border-radius: 0px;
    width: 125px;
    height: 125px;
  }
  .item {
    width: 220px;
    margin: 10px;
    border: 1px lightgray solid;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
    &:hover{
      box-shadow: 0 0 20px #333;
    }
    p{
      &:first-child{
        background-color: #f7f7f7;
        border-bottom: 1px lightgray solid;
        border-top-left-radius: 13%;
        border-top-right-radius: 13%;
      }
    }
  }
}
