//------------------------------------------------------------------------------TEXT BOX
.lightTextBox {
  text-align: center;
  background: $ltbBGcolor;
  color: $ltbColor;
  padding: 40px;
  p {
    margin: auto;
  }
}

.darkTextBox {
  @extend .lightTextBox;
  background: $dtbBGcolor;
  color: $dtbColor;
}
